@import "./global.css";
@import "./reset.css";


.login-title {
    text-align: center;
}

.login-title-maintext{
    font-size: 3rem;
    color: var(--red);
}

.login-title-subtext {
    font-size: 1rem;
    font-weight: 100;
}

/* html과 css를 각각의 요소 영역에 맞춘다. */
html, body {
    overflow: hidden;
}

/* 로그인 login-form 의 display ==> flex 측 방향을 세로 */
.login-form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.login-form input {
    padding: 15px 0;
    margin: 0 10px;
    border: none;
    outline: none;
    appearance: none;
    background-color: var(--red);
    font-size: 1rem;
}

.login-form {
    color: white;
    border-bottom: 1px solid var(--red);
    transition: border-color 0.3s ease-in-out;
}

.login-form input[type="submit"] :active {
    background-color: var(--background-purple);
}